* {
    box-sizing: border-box;
}
  
.bb8 {
    margin:-10px;
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    box-shadow: 
      290px 40px 0px 0px #F5DEB3,
      
      250px 50px 0px 0px #F5DEB3,
      290px 50px 0px 0px #F5DEB3,
      
      250px 60px 0px 0px #F5DEB3,
      290px 60px 0px 0px #F5DEB3,
      
      250px 70px 0px 0px #F5DEB3,
      290px 70px 0px 0px #000000,
      
      160px 80px 0px 0px #000000,
      170px 80px 0px 0px #000000,
      180px 80px 0px 0px #000000,
      190px 80px 0px 0px #000000,
      200px 80px 0px 0px #000000,
      210px 80px 0px 0px #000000,
      220px 80px 0px 0px #000000,
      230px 80px 0px 0px #000000,
      240px 80px 0px 0px #000000,
      250px 80px 0px 0px #000000,
      260px 80px 0px 0px #000000,
      290px 80px 0px 0px #000000,
    
      150px 90px 0px 0px #000000,
      160px 90px 0px 0px #000000,
      240px 90px 0px 0px #F5DEB3,
      250px 90px 0px 0px #F5DEB3,
      260px 90px 0px 0px #F5DEB3,
      270px 90px 0px 0px #000000,
      280px 90px 0px 0px #000000,
      290px 90px 0px 0px #000000,
      
      140px 100px 0px 0px #000000,
      150px 100px 0px 0px #000000,
      160px 100px 0px 0px #708090,
      170px 100px 0px 0px #A9A9A9,
      180px 100px 0px 0px #A9A9A9,
      190px 100px 0px 0px #A9A9A9,
      200px 100px 0px 0px #A9A9A9,
      210px 100px 0px 0px #A9A9A9,
      220px 100px 0px 0px #A9A9A9,
      230px 100px 0px 0px #A9A9A9,
      240px 100px 0px 0px #708090,
      250px 100px 0px 0px #000000,
      260px 100px 0px 0px #000000,
      270px 100px 0px 0px #000000,
      280px 100px 0px 0px #000000,
      290px 100px 0px 0px #000000,
      
      130px 110px 0px 0px #000000,
      140px 110px 0px 0px #D2691E,
      150px 110px 0px 0px #000000,
      170px 110px 0px 0px #000000,
      180px 110px 0px 0px #000000,
      190px 110px 0px 0px #000000,
      240px 110px 0px 0px #000000,
      250px 110px 0px 0px #D2691E,
      260px 110px 0px 0px #D2691E,
      270px 110px 0px 0px #D2691E,
      290px 110px 0px 0px #D2691E,
      300px 110px 0px 0px #000000,
      
      120px 120px 0px 0px #000000,
      130px 120px 0px 0px #000000,
      140px 120px 0px 0px #000000,
      160px 120px 0px 0px #000000,
      170px 120px 0px 0px #000000,
      180px 120px 0px 0px #000000,
      190px 120px 0px 0px #708090,
      200px 120px 0px 0px #000000,
      250px 120px 0px 0px #000000,
      260px 120px 0px 0px #000000,
      270px 120px 0px 0px #000000,
      280px 120px 0px 0px #000000,
      290px 120px 0px 0px #000000,
      300px 120px 0px 0px #000000,
      310px 120px 0px 0px #000000,
      
      110px 130px 0px 0px #000000,
      120px 130px 0px 0px #F5DEB3,
      150px 130px 0px 0px #000000,
      160px 130px 0px 0px #000000,
      180px 130px 0px 0px #000000,
      190px 130px 0px 0px #000000,
      200px 130px 0px 0px #708090,
      210px 130px 0px 0px #000000,
      300px 130px 0px 0px #F5DEB3,
      310px 130px 0px 0px #F5DEB3,
      320px 130px 0px 0px #000000,
      
      110px 140px 0px 0px #000000,
      150px 140px 0px 0px #000000,
      160px 140px 0px 0px #000000,
      170px 140px 0px 0px #000000,
      180px 140px 0px 0px #000000,
      190px 140px 0px 0px #000000,
      200px 140px 0px 0px #708090,
      210px 140px 0px 0px #000000,
      240px 140px 0px 0px #000000,
      250px 140px 0px 0px #000000,
      300px 140px 0px 0px #F5DEB3,
      310px 140px 0px 0px #F5DEB3,
      320px 140px 0px 0px #000000,
      
      100px 150px 0px 0px #000000,
      110px 150px 0px 0px #F5DEB3,
      150px 150px 0px 0px #000000,
      160px 150px 0px 0px #708090,
      170px 150px 0px 0px #000000,
      180px 150px 0px 0px #000000,
      190px 150px 0px 0px #000000,
      200px 150px 0px 0px #708090,
      210px 150px 0px 0px #000000,
      230px 150px 0px 0px #000000,
      240px 150px 0px 0px #708090,
      250px 150px 0px 0px #000000,
      260px 150px 0px 0px #000000,
      280px 150px 0px 0px #F5DEB3,
      290px 150px 0px 0px #F5DEB3,
      300px 150px 0px 0px #F5DEB3,
      310px 150px 0px 0px #F5DEB3,
      320px 150px 0px 0px #F5DEB3,
      330px 150px 0px 0px #000000,
      
      100px 160px 0px 0px #000000,
      110px 160px 0px 0px #F5DEB3,
      150px 160px 0px 0px #F5DEB3,
      160px 160px 0px 0px #000000,
      170px 160px 0px 0px #708090,
      180px 160px 0px 0px #708090,
      190px 160px 0px 0px #708090,
      200px 160px 0px 0px #000000,
      210px 160px 0px 0px #F5DEB3,
      230px 160px 0px 0px #000000,
      240px 160px 0px 0px #000000,
      250px 160px 0px 0px #000000,
      260px 160px 0px 0px #000000,
      280px 160px 0px 0px #F5DEB3,
      290px 160px 0px 0px #F5DEB3,
      300px 160px 0px 0px #F5DEB3,
      310px 160px 0px 0px #F5DEB3,
      320px 160px 0px 0px #F5DEB3,
      330px 160px 0px 0px #000000,
      
      100px 170px 0px 0px #000000,
      110px 170px 0px 0px #000000,
      120px 170px 0px 0px #000000,
      130px 170px 0px 0px #000000,
      140px 170px 0px 0px #F5DEB3,
      160px 170px 0px 0px #F5DEB3,
      170px 170px 0px 0px #000000,
      180px 170px 0px 0px #000000,
      190px 170px 0px 0px #000000,
      200px 170px 0px 0px #F5DEB3,
      240px 170px 0px 0px #000000,
      250px 170px 0px 0px #000000,
      260px 170px 0px 0px #F5DEB3,
      270px 170px 0px 0px #000000,
      280px 170px 0px 0px #000000,
      290px 170px 0px 0px #000000,
      300px 170px 0px 0px #000000,
      310px 170px 0px 0px #000000,
      320px 170px 0px 0px #000000,
      330px 170px 0px 0px #000000, 
      
      100px 180px 0px 0px #000000,
      110px 180px 0px 0px #D2691E,
      130px 180px 0px 0px #D2691E,
      140px 180px 0px 0px #000000,
      240px 180px 0px 0px #F5DEB3,
      250px 180px 0px 0px #F5DEB3,
      260px 180px 0px 0px #000000,
      270px 180px 0px 0px #D2691E,
      290px 180px 0px 0px #D2691E,
      300px 180px 0px 0px #F5DEB3,
      310px 180px 0px 0px #D2691E,
      320px 180px 0px 0px #000000,
      330px 180px 0px 0px #000000,
      
      100px 190px 0px 0px #000000,
      110px 190px 0px 0px #D2691E,
      130px 190px 0px 0px #D2691E,
      140px 190px 0px 0px #000000,
      150px 190px 0px 0px #708090,
      160px 190px 0px 0px #A9A9A9,
      170px 190px 0px 0px #A9A9A9,
      180px 190px 0px 0px #A9A9A9,
      190px 190px 0px 0px #A9A9A9,
      200px 190px 0px 0px #A9A9A9,
      210px 190px 0px 0px #A9A9A9,
      220px 190px 0px 0px #A9A9A9,
      230px 190px 0px 0px #708090,
      240px 190px 0px 0px #708090,
      250px 190px 0px 0px #708090,
      260px 190px 0px 0px #000000,
      270px 190px 0px 0px #D2691E,
      290px 190px 0px 0px #D2691E,
      300px 190px 0px 0px #F5DEB3,
      310px 190px 0px 0px #D2691E,
      320px 190px 0px 0px #000000,
      330px 190px 0px 0px #000000,
      
      110px 200px 0px 0px #000000,
      120px 200px 0px 0px #000000,
      130px 200px 0px 0px #000000,
      140px 200px 0px 0px #000000,
      150px 200px 0px 0px #000000,
      160px 200px 0px 0px #000000,
      170px 200px 0px 0px #000000,
      180px 200px 0px 0px #000000,
      190px 200px 0px 0px #000000,
      200px 200px 0px 0px #000000,
      210px 200px 0px 0px #000000,
      220px 200px 0px 0px #000000,
      230px 200px 0px 0px #000000,
      240px 200px 0px 0px #000000,
      250px 200px 0px 0px #000000,
      260px 200px 0px 0px #000000,
      270px 200px 0px 0px #000000,
      280px 200px 0px 0px #000000,
      290px 200px 0px 0px #000000,
      300px 200px 0px 0px #000000,
      310px 200px 0px 0px #000000,
      320px 200px 0px 0px #000000,
      
      110px 210px 0px 0px #000000,
      120px 210px 0px 0px #F5DEB3,
      130px 210px 0px 0px #F5DEB3,
      140px 210px 0px 0px #F5DEB3,
      150px 210px 0px 0px #F5DEB3,
      160px 210px 0px 0px #F5DEB3,
      170px 210px 0px 0px #F5DEB3,
      180px 210px 0px 0px #F5DEB3,
      190px 210px 0px 0px #F5DEB3,
      200px 210px 0px 0px #F5DEB3,
      210px 210px 0px 0px #F5DEB3,
      220px 210px 0px 0px #F5DEB3,
      230px 210px 0px 0px #F5DEB3,
      240px 210px 0px 0px #F5DEB3,
      250px 210px 0px 0px #F5DEB3,
      260px 210px 0px 0px #F5DEB3,
      270px 210px 0px 0px #F5DEB3,
      280px 210px 0px 0px #F5DEB3,
      290px 210px 0px 0px #F5DEB3,
      300px 210px 0px 0px #F5DEB3,
      310px 210px 0px 0px #F5DEB3,
      320px 210px 0px 0px #000000,
      
      120px 220px 0px 0px #000000,
      130px 220px 0px 0px #F5DEB3,
      140px 220px 0px 0px #F5DEB3,
      150px 220px 0px 0px #F5DEB3,
      160px 220px 0px 0px #F5DEB3,
      170px 220px 0px 0px #F5DEB3,
      180px 220px 0px 0px #000000,
      190px 220px 0px 0px #000000,
      200px 220px 0px 0px #000000,
      210px 220px 0px 0px #000000,
      220px 220px 0px 0px #000000,
      230px 220px 0px 0px #000000,
      240px 220px 0px 0px #000000, 
      250px 220px 0px 0px #000000,
      260px 220px 0px 0px #F5DEB3,
      270px 220px 0px 0px #F5DEB3,
      280px 220px 0px 0px #F5DEB3,
      290px 220px 0px 0px #F5DEB3,
      300px 220px 0px 0px #F5DEB3,
      310px 220px 0px 0px #000000,
      
      130px 230px 0px 0px #000000,
      140px 230px 0px 0px #F5DEB3,
      150px 230px 0px 0px #000000,
      160px 230px 0px 0px #000000,
      170px 230px 0px 0px #000000,
      190px 230px 0px 0px #000000,
      200px 230px 0px 0px #D2691E,
      210px 230px 0px 0px #D2691E,
      220px 230px 0px 0px #D2691E,
      230px 230px 0px 0px #D2691E,
      240px 230px 0px 0px #000000,
      250px 230px 0px 0px #D2691E,
      260px 230px 0px 0px #000000,
      270px 230px 0px 0px #000000,
      280px 230px 0px 0px #000000,
      290px 230px 0px 0px #F5DEB3,
      300px 230px 0px 0px #000000,
      
      130px 240px 0px 0px #000000,
      140px 240px 0px 0px #000000,
      150px 240px 0px 0px #F5DEB3,
      160px 240px 0px 0px #F5DEB3,
      190px 240px 0px 0px #000000,
      200px 240px 0px 0px #D2691E,
      210px 240px 0px 0px #D2691E,
      220px 240px 0px 0px #D2691E,
      230px 240px 0px 0px #000000,
      250px 240px 0px 0px #000000,
      260px 240px 0px 0px #000000,
      290px 240px 0px 0px #000000,
      300px 240px 0px 0px #000000,
      
      120px 250px 0px 0px #000000,
      130px 250px 0px 0px #F5DEB3,
      140px 250px 0px 0px #F5DEB3,
      190px 250px 0px 0px #000000,
      200px 250px 0px 0px #D2691E,
      210px 250px 0px 0px #D2691E,
      220px 250px 0px 0px #D2691E,
      230px 250px 0px 0px #000000,
      250px 250px 0px 0px #F5DEB3,
      260px 250px 0px 0px #F5DEB3,
      270px 250px 0px 0px #F5DEB3,
      300px 250px 0px 0px #F5DEB3,
      310px 250px 0px 0px #000000,
      
      110px 260px 0px 0px #000000,
      120px 260px 0px 0px #F5DEB3,
      200px 260px 0px 0px #000000,
      210px 260px 0px 0px #D2691E,
      220px 260px 0px 0px #D2691E,
      230px 260px 0px 0px #000000,
      270px 260px 0px 0px #000000,
      310px 260px 0px 0px #F5DEB3,
      320px 260px 0px 0px #000000,
      
      100px 270px 0px 0px #000000,
      110px 270px 0px 0px #000000,
      120px 270px 0px 0px #000000,
      130px 270px 0px 0px #000000,
      140px 270px 0px 0px #000000,
      200px 270px 0px 0px #000000,
      210px 270px 0px 0px #D2691E,
      220px 270px 0px 0px #D2691E,
      230px 270px 0px 0px #D2691E,
      240px 270px 0px 0px #000000,
      260px 270px 0px 0px #000000,
      270px 270px 0px 0px #D2691E,
      280px 270px 0px 0px #000000,
      310px 270px 0px 0px #F5DEB3,
      320px 270px 0px 0px #F5DEB3,
      330px 270px 0px 0px #000000,
      
      90px 280px 0px 0px #000000,
      100px 280px 0px 0px #000000,
      110px 280px 0px 0px #D2691E,
      120px 280px 0px 0px #D2691E,
      130px 280px 0px 0px #D2691E,
      140px 280px 0px 0px #D2691E,
      150px 280px 0px 0px #000000,
      160px 280px 0px 0px #000000,
      210px 280px 0px 0px #000000,
      220px 280px 0px 0px #D2691E,
      230px 280px 0px 0px #D2691E,
      240px 280px 0px 0px #D2691E,
      250px 280px 0px 0px #000000,
      260px 280px 0px 0px #D2691E,
      270px 280px 0px 0px #D2691E,
      280px 280px 0px 0px #000000,
      320px 280px 0px 0px #F5DEB3,
      330px 280px 0px 0px #F5DEB3,
      340px 280px 0px 0px #000000,
      
      90px 290px 0px 0px #000000,
      100px 290px 0px 0px #D2691E,
      110px 290px 0px 0px #D2691E,
      120px 290px 0px 0px #D2691E,
      130px 290px 0px 0px #D2691E,
      140px 290px 0px 0px #D2691E,
      150px 290px 0px 0px #D2691E,
      160px 290px 0px 0px #D2691E,
      170px 290px 0px 0px #000000,
      220px 290px 0px 0px #000000,
      230px 290px 0px 0px #D2691E,
      240px 290px 0px 0px #D2691E,
      250px 290px 0px 0px #D2691E,
      260px 290px 0px 0px #D2691E,
      270px 290px 0px 0px #000000,
      320px 290px 0px 0px #F5DEB3,
      330px 290px 0px 0px #F5DEB3,
      340px 290px 0px 0px #000000,
      
      80px 300px 0px 0px #000000,
      90px 300px 0px 0px #D2691E,
      100px 300px 0px 0px #000000,
      110px 300px 0px 0px #000000,
      120px 300px 0px 0px #D2691E,
      130px 300px 0px 0px #D2691E,
      140px 300px 0px 0px #000000,
      150px 300px 0px 0px #000000,
      160px 300px 0px 0px #D2691E,
      170px 300px 0px 0px #D2691E,
      180px 300px 0px 0px #000000,
      200px 300px 0px 0px #000000,
      210px 300px 0px 0px #F5DEB3,
      220px 300px 0px 0px #F5DEB3,
      230px 300px 0px 0px #000000,
      240px 300px 0px 0px #D2691E,
      250px 300px 0px 0px #D2691E,
      260px 300px 0px 0px #D2691E,
      270px 300px 0px 0px #000000,
      280px 300px 0px 0px #000000,
      300px 300px 0px 0px #F5DEB3,
      310px 300px 0px 0px #F5DEB3,
      320px 300px 0px 0px #F5DEB3,
      330px 300px 0px 0px #F5DEB3,
      340px 300px 0px 0px #F5DEB3,
      350px 300px 0px 0px #000000,
      
      80px 310px 0px 0px #000000,
      90px 310px 0px 0px #000000,
      110px 310px 0px 0px #000000,
      120px 310px 0px 0px #D2691E,
      130px 310px 0px 0px #D2691E,
      140px 310px 0px 0px #000000,
      160px 310px 0px 0px #000000,
      170px 310px 0px 0px #D2691E,
      180px 310px 0px 0px #000000,
      190px 310px 0px 0px #F5DEB3,
      200px 310px 0px 0px #F5DEB3,
      240px 310px 0px 0px #000000,
      250px 310px 0px 0px #D2691E,
      260px 310px 0px 0px #D2691E,
      270px 310px 0px 0px #D2691E,
      280px 310px 0px 0px #D2691E,
      290px 310px 0px 0px #000000,
      300px 310px 0px 0px #000000,
      310px 310px 0px 0px #000000,
      320px 310px 0px 0px #000000,
      330px 310px 0px 0px #000000,
      340px 310px 0px 0px #000000,
      350px 310px 0px 0px #000000,
      
      80px 320px 0px 0px #000000,
      90px 320px 0px 0px #000000,
      120px 320px 0px 0px #000000,
      130px 320px 0px 0px #000000,
      140px 320px 0px 0px #F5DEB3,
      160px 320px 0px 0px #000000,
      170px 320px 0px 0px #D2691E,
      180px 320px 0px 0px #D2691E,
      190px 320px 0px 0px #000000,
      230px 320px 0px 0px #F5DEB3,
      250px 320px 0px 0px #000000,
      260px 320px 0px 0px #000000,
      270px 320px 0px 0px #D2691E,
      280px 320px 0px 0px #D2691E,
      290px 320px 0px 0px #D2691E,
      300px 320px 0px 0px #D2691E,
      310px 320px 0px 0px #D2691E,
      320px 320px 0px 0px #D2691E,
      330px 320px 0px 0px #D2691E,
      340px 320px 0px 0px #D2691E,
      350px 320px 0px 0px #000000,
      
      70px 330px 0px 0px #000000,
      80px 330px 0px 0px #D2691E,
      90px 330px 0px 0px #000000,
      100px 330px 0px 0px #000000,
      170px 330px 0px 0px #000000,
      180px 330px 0px 0px #D2691E,
      190px 330px 0px 0px #000000,
      250px 330px 0px 0px #F5DEB3,
      260px 330px 0px 0px #F5DEB3,
      270px 330px 0px 0px #000000,
      280px 330px 0px 0px #000000,
      290px 330px 0px 0px #D2691E,
      300px 330px 0px 0px #D2691E,
      310px 330px 0px 0px #D2691E,
      320px 330px 0px 0px #D2691E,
      330px 330px 0px 0px #D2691E,
      340px 330px 0px 0px #D2691E,
      350px 330px 0px 0px #D2691E,
      360px 330px 0px 0px #000000,
      
      70px 340px 0px 0px #000000,
      80px 340px 0px 0px #D2691E,
      90px 340px 0px 0px #D2691E,
      100px 340px 0px 0px #000000,
      120px 340px 0px 0px #A9A9A9,
      170px 340px 0px 0px #000000,
      180px 340px 0px 0px #D2691E,
      190px 340px 0px 0px #D2691E,
      200px 340px 0px 0px #000000,
      280px 340px 0px 0px #F5DEB3,
      290px 340px 0px 0px #F5DEB3,
      300px 340px 0px 0px #000000,
      310px 340px 0px 0px #000000,
      320px 340px 0px 0px #000000,
      330px 340px 0px 0px #000000,
      340px 340px 0px 0px #000000,
      350px 340px 0px 0px #000000,
      360px 340px 0px 0px #000000,
      
      70px 350px 0px 0px #000000,
      80px 350px 0px 0px #000000,
      90px 350px 0px 0px #D2691E,
      100px 350px 0px 0px #000000,
      120px 350px 0px 0px #A9A9A9,
      130px 350px 0px 0px #A9A9A9,
      160px 350px 0px 0px #000000,
      170px 350px 0px 0px #000000,
      180px 350px 0px 0px #D2691E,
      190px 350px 0px 0px #D2691E,
      200px 350px 0px 0px #000000,
      270px 350px 0px 0px #F5DEB3,
      280px 350px 0px 0px #F5DEB3,
      290px 350px 0px 0px #F5DEB3,
      300px 350px 0px 0px #F5DEB3,
      310px 350px 0px 0px #F5DEB3,
      320px 350px 0px 0px #000000,
      330px 350px 0px 0px #F5DEB3,
      340px 350px 0px 0px #F5DEB3,
      350px 350px 0px 0px #F5DEB3,
      360px 350px 0px 0px #000000,
      
      70px 360px 0px 0px #000000,
      80px 360px 0px 0px #F5DEB3,
      90px 360px 0px 0px #000000,
      110px 360px 0px 0px #A9A9A9,
      120px 360px 0px 0px #A9A9A9,
      130px 360px 0px 0px #A9A9A9,
      150px 360px 0px 0px #000000,
      160px 360px 0px 0px #D2691E,
      170px 360px 0px 0px #D2691E,
      180px 360px 0px 0px #D2691E,
      190px 360px 0px 0px #D2691E,
      200px 360px 0px 0px #000000,
      270px 360px 0px 0px #F5DEB3,
      290px 360px 0px 0px #F5DEB3,
      300px 360px 0px 0px #F5DEB3,
      310px 360px 0px 0px #F5DEB3,
      320px 360px 0px 0px #000000,
      330px 360px 0px 0px #F5DEB3,
      340px 360px 0px 0px #F5DEB3,
      350px 360px 0px 0px #F5DEB3,
      360px 360px 0px 0px #000000,
      
      70px 370px 0px 0px #000000,
      80px 370px 0px 0px #F5DEB3,
      100px 370px 0px 0px #A9A9A9,
      110px 370px 0px 0px #A9A9A9,
      120px 370px 0px 0px #A9A9A9,
      130px 370px 0px 0px #A9A9A9,
      150px 370px 0px 0px #000000,
      160px 370px 0px 0px #D2691E,
      170px 370px 0px 0px #D2691E,
      180px 370px 0px 0px #D2691E,
      190px 370px 0px 0px #D2691E,
      200px 370px 0px 0px #000000,
      270px 370px 0px 0px #F5DEB3,
      280px 370px 0px 0px #F5DEB3,
      290px 370px 0px 0px #F5DEB3,
      300px 370px 0px 0px #000000,
      310px 370px 0px 0px #000000,
      320px 370px 0px 0px #000000,
      330px 370px 0px 0px #000000,
      340px 370px 0px 0px #000000,
      350px 370px 0px 0px #F5DEB3,
      360px 370px 0px 0px #000000,
      
      70px 380px 0px 0px #000000,
      80px 380px 0px 0px #000000,
      100px 380px 0px 0px #A9A9A9,
      110px 380px 0px 0px #A9A9A9,
      120px 380px 0px 0px #A9A9A9,
      160px 380px 0px 0px #000000,
      170px 380px 0px 0px #000000,
      180px 380px 0px 0px #D2691E,
      190px 380px 0px 0px #D2691E,
      200px 380px 0px 0px #000000,
      260px 380px 0px 0px #F5DEB3,
      270px 380px 0px 0px #F5DEB3,
      280px 380px 0px 0px #000000,
      290px 380px 0px 0px #000000,
      300px 380px 0px 0px #D2691E,
      310px 380px 0px 0px #D2691E,
      320px 380px 0px 0px #D2691E,
      330px 380px 0px 0px #D2691E,
      340px 380px 0px 0px #D2691E,
      350px 380px 0px 0px #000000,
      360px 380px 0px 0px #000000,
      
      70px 390px 0px 0px #000000,
      80px 390px 0px 0px #D2691E,
      90px 390px 0px 0px #000000,
      110px 390px 0px 0px #A9A9A9,
      120px 390px 0px 0px #A9A9A9,
      150px 390px 0px 0px #A9A9A9,
      160px 390px 0px 0px #F5DEB3,
      170px 390px 0px 0px #000000,
      180px 390px 0px 0px #D2691E,
      190px 390px 0px 0px #D2691E,
      200px 390px 0px 0px #000000,
      230px 390px 0px 0px #000000,
      240px 390px 0px 0px #F5DEB3,
      250px 390px 0px 0px #F5DEB3,
      260px 390px 0px 0px #000000,
      270px 390px 0px 0px #000000,
      280px 390px 0px 0px #D2691E,
      290px 390px 0px 0px #D2691E,
      300px 390px 0px 0px #D2691E,
      310px 390px 0px 0px #D2691E,
      320px 390px 0px 0px #D2691E,
      330px 390px 0px 0px #D2691E,
      340px 390px 0px 0px #D2691E,
      350px 390px 0px 0px #D2691E,
      360px 390px 0px 0px #000000,
      
      80px 400px 0px 0px #000000,
      90px 400px 0px 0px #000000,
      100px 400px 0px 0px #F5DEB3,
      120px 400px 0px 0px #000000,
      130px 400px 0px 0px #000000,
      140px 400px 0px 0px #A9A9A9,
      160px 400px 0px 0px #F5DEB3,
      170px 400px 0px 0px #000000,
      180px 400px 0px 0px #D2691E,
      190px 400px 0px 0px #000000,
      200px 400px 0px 0px #F5DEB3,
      230px 400px 0px 0px #F5DEB3,
      240px 400px 0px 0px #F5DEB3,
      250px 400px 0px 0px #000000,
      260px 400px 0px 0px #D2691E,
      270px 400px 0px 0px #D2691E,
      280px 400px 0px 0px #D2691E,
      290px 400px 0px 0px #D2691E,
      300px 400px 0px 0px #000000,
      310px 400px 0px 0px #000000,
      320px 400px 0px 0px #000000,
      330px 400px 0px 0px #000000,
      340px 400px 0px 0px #000000,
      350px 400px 0px 0px #000000,
      
      80px 410px 0px 0px #000000,
      90px 410px 0px 0px #D2691E,
      100px 410px 0px 0px #000000,
      110px 410px 0px 0px #000000,
      120px 410px 0px 0px #D2691E,
      130px 410px 0px 0px #D2691E,
      140px 410px 0px 0px #000000,
      160px 410px 0px 0px #000000,
      170px 410px 0px 0px #D2691E,
      180px 410px 0px 0px #D2691E,
      190px 410px 0px 0px #000000,
      200px 410px 0px 0px #F5DEB3,
      230px 410px 0px 0px #F5DEB3,
      240px 410px 0px 0px #000000,
      250px 410px 0px 0px #D2691E,
      260px 410px 0px 0px #D2691E,
      270px 410px 0px 0px #D2691E,
      280px 410px 0px 0px #D2691E,
      290px 410px 0px 0px #000000,
      300px 410px 0px 0px #F5DEB3,
      310px 410px 0px 0px #F5DEB3,
      320px 410px 0px 0px #F5DEB3,
      330px 410px 0px 0px #F5DEB3,
      340px 410px 0px 0px #F5DEB3,
      350px 410px 0px 0px #000000,
      
      80px 420px 0px 0px #000000,
      90px 420px 0px 0px #D2691E,
      100px 420px 0px 0px #D2691E,
      110px 420px 0px 0px #000000,
      120px 420px 0px 0px #D2691E,
      130px 420px 0px 0px #D2691E,
      140px 420px 0px 0px #000000,
      150px 420px 0px 0px #000000,
      160px 420px 0px 0px #D2691E,
      170px 420px 0px 0px #D2691E,
      180px 420px 0px 0px #000000,
      190px 420px 0px 0px #F5DEB3,
      220px 420px 0px 0px #F5DEB3,
      230px 420px 0px 0px #000000,
      240px 420px 0px 0px #D2691E,
      250px 420px 0px 0px #D2691E,
      260px 420px 0px 0px #D2691E,
      270px 420px 0px 0px #D2691E,
      280px 420px 0px 0px #000000,
      290px 420px 0px 0px #F5DEB3,
      300px 420px 0px 0px #A9A9A9,
      310px 420px 0px 0px #A9A9A9,
      320px 420px 0px 0px #A9A9A9,
      330px 420px 0px 0px #F5DEB3,
      340px 420px 0px 0px #F5DEB3,
      350px 420px 0px 0px #000000,
      
      90px 430px 0px 0px #000000,
      100px 430px 0px 0px #D2691E,
      110px 430px 0px 0px #D2691E,
      120px 430px 0px 0px #D2691E,
      130px 430px 0px 0px #D2691E,
      140px 430px 0px 0px #D2691E,
      150px 430px 0px 0px #D2691E,
      160px 430px 0px 0px #D2691E,
      170px 430px 0px 0px #000000,
      180px 430px 0px 0px #F5DEB3,
      210px 430px 0px 0px #F5DEB3,
      220px 430px 0px 0px #000000,
      230px 430px 0px 0px #D2691E,
      240px 430px 0px 0px #D2691E,
      250px 430px 0px 0px #D2691E,
      260px 430px 0px 0px #D2691E,
      270px 430px 0px 0px #D2691E,
      280px 430px 0px 0px #D2691E,
      290px 430px 0px 0px #000000,
      310px 430px 0px 0px #A9A9A9,
      320px 430px 0px 0px #708090,
      330px 430px 0px 0px #708090,
      340px 430px 0px 0px #000000,
    
      90px 440px 0px 0px #000000,
      100px 440px 0px 0px #000000,
      110px 440px 0px 0px #D2691E,
      120px 440px 0px 0px #D2691E,
      130px 440px 0px 0px #D2691E,
      140px 440px 0px 0px #D2691E,
      150px 440px 0px 0px #D2691E,
      160px 440px 0px 0px #000000,
      170px 440px 0px 0px #F5DEB3,
      210px 440px 0px 0px #000000,
      220px 440px 0px 0px #D2691E,
      230px 440px 0px 0px #D2691E,
      240px 440px 0px 0px #D2691E,
      250px 440px 0px 0px #000000,
      260px 440px 0px 0px #000000,
      270px 440px 0px 0px #D2691E,
      280px 440px 0px 0px #D2691E,
      290px 440px 0px 0px #D2691E,
      300px 440px 0px 0px #000000,
      310px 440px 0px 0px #F5DEB3,
      320px 440px 0px 0px #F5DEB3,
      330px 440px 0px 0px #708090,
      340px 440px 0px 0px #000000,
      
      100px 450px 0px 0px #000000,
      110px 450px 0px 0px #000000,
      120px 450px 0px 0px #000000,
      130px 450px 0px 0px #000000,
      140px 450px 0px 0px #000000,
      150px 450px 0px 0px #000000,
      160px 450px 0px 0px #F5DEB3,
      200px 450px 0px 0px #F5DEB3,
      210px 450px 0px 0px #000000,
      220px 450px 0px 0px #D2691E,
      230px 450px 0px 0px #D2691E,
      240px 450px 0px 0px #D2691E,
      250px 450px 0px 0px #000000,
      270px 450px 0px 0px #000000,
      280px 450px 0px 0px #D2691E,
      290px 450px 0px 0px #000000,
      300px 450px 0px 0px #708090,
      310px 450px 0px 0px #708090,
      320px 450px 0px 0px #F5DEB3,
      330px 450px 0px 0px #000000,
      
      110px 460px 0px 0px #000000,
      120px 460px 0px 0px #F5DEB3,
      130px 460px 0px 0px #F5DEB3,
      140px 460px 0px 0px #F5DEB3,
      150px 460px 0px 0px #F5DEB3,
      160px 460px 0px 0px #F5DEB3,
      200px 460px 0px 0px #000000,
      200px 460px 0px 0px #D2691E,
      210px 460px 0px 0px #D2691E,
      220px 460px 0px 0px #D2691E,
      230px 460px 0px 0px #D2691E,
      240px 460px 0px 0px #000000,
      250px 460px 0px 0px #000000,
      260px 460px 0px 0px #F5DEB3,
      270px 460px 0px 0px #F5DEB3,
      280px 460px 0px 0px #000000,
      290px 460px 0px 0px #A9A9A9,
      300px 460px 0px 0px #708090,
      310px 460px 0px 0px #F5DEB3,
      320px 460px 0px 0px #000000,
      
      120px 470px 0px 0px #000000,
      130px 470px 0px 0px #D2691E,
      140px 470px 0px 0px #F5DEB3,
      150px 470px 0px 0px #F5DEB3,
      160px 470px 0px 0px #F5DEB3,
      170px 470px 0px 0px #F5DEB3,
      180px 470px 0px 0px #F5DEB3,
      190px 470px 0px 0px #F5DEB3,
      200px 470px 0px 0px #000000,
      210px 470px 0px 0px #D2691E,
      220px 470px 0px 0px #D2691E,
      230px 470px 0px 0px #D2691E,
      240px 470px 0px 0px #000000,
      250px 470px 0px 0px #F5DEB3,
      260px 470px 0px 0px #F5DEB3,
      270px 470px 0px 0px #708090,
      280px 470px 0px 0px #F5DEB3,
      290px 470px 0px 0px #708090,
      300px 470px 0px 0px #F5DEB3,
      310px 470px 0px 0px #000000,
      
      130px 480px 0px 0px #000000,
      140px 480px 0px 0px #000000,
      150px 480px 0px 0px #F5DEB3,
      160px 480px 0px 0px #F5DEB3,
      170px 480px 0px 0px #F5DEB3,
      180px 480px 0px 0px #F5DEB3,
      190px 480px 0px 0px #F5DEB3,
      200px 480px 0px 0px #000000,
      210px 480px 0px 0px #D2691E,
      220px 480px 0px 0px #D2691E,
      230px 480px 0px 0px #D2691E,
      240px 480px 0px 0px #000000,
      250px 480px 0px 0px #F5DEB3,
      260px 480px 0px 0px #F5DEB3,
      270px 480px 0px 0px #F5DEB3,
      280px 480px 0px 0px #708090,
      290px 480px 0px 0px #F5DEB3,
      300px 480px 0px 0px #000000,
      
      150px 490px 0px 0px #000000,
      160px 490px 0px 0px #000000,
      170px 490px 0px 0px #000000,
      180px 490px 0px 0px #000000,
      190px 490px 0px 0px #F5DEB3,
      200px 490px 0px 0px #000000,
      210px 490px 0px 0px #D2691E,
      220px 490px 0px 0px #D2691E,
      230px 490px 0px 0px #D2691E,
      240px 490px 0px 0px #000000,
      260px 490px 0px 0px #F5DEB3,
      270px 490px 0px 0px #000000,
      280px 490px 0px 0px #000000,
      290px 490px 0px 0px #000000,
      
      190px 500px 0px 0px #000000,
      200px 500px 0px 0px #000000,
      210px 500px 0px 0px #000000,
      220px 500px 0px 0px #000000,
      230px 500px 0px 0px #000000,
      240px 500px 0px 0px #000000,
      250px 500px 0px 0px #000000,
      260px 500px 0px 0px #000000;
}